In [1]:
import pandas as pd

In [2]:
file_path = 'data/flow_schwartau.csv'


schwartau_flow_df = pd.read_csv(file_path)
schwartau_flow_df['hive'] = 'schwartau'
schwartau_flow_df.head()

             timestamp  flow       hive
0  2017-01-01 14:15:00     0  schwartau
1  2017-01-01 14:16:00     0  schwartau
2  2017-01-01 14:17:00     0  schwartau
3  2017-01-01 14:18:00     0  schwartau
4  2017-01-01 14:19:00     0  schwartau

In [3]:
file_path = 'data/flow_wurzburg.csv'


wurzburg_flow_df = pd.read_csv(file_path)
wurzburg_flow_df['hive'] = 'wurzburg'
wurzburg_flow_df.head()

             timestamp  flow      hive
0  2017-01-01 05:15:00     0  wurzburg
1  2017-01-01 05:16:00     0  wurzburg
2  2017-01-01 05:17:00     0  wurzburg
3  2017-01-01 05:18:00     0  wurzburg
4  2017-01-01 05:19:00     0  wurzburg

In [4]:
frames = [wurzburg_flow_df, schwartau_flow_df]

combo_flow_df = pd.concat(frames)


combo_flow_df['timestamp'] = pd.to_datetime(combo_flow_df['timestamp'])
combo_flow_df = combo_flow_df.sort_values(by=['timestamp'])

combo_flow_df['date'] = [d.date() for d in combo_flow_df['timestamp']]
combo_flow_df['time'] = [d.time() for d in combo_flow_df['timestamp']]


combo_flow_df.count()

timestamp    4585556
flow         4585556
hive         4585556
date         4585556
time         4585556
dtype: int64

In [6]:
file_path = 'data/humidity_schwartau.csv'


schwartau_humidity_df = pd.read_csv(file_path)
schwartau_humidity_df['hive'] = 'schwartau'
schwartau_humidity_df.head()

             timestamp   humidity       hive
0  2017-01-01 13:00:00  98.040310  schwartau
1  2017-01-02 01:00:00  98.610556  schwartau
2  2017-01-02 13:00:00  99.002083  schwartau
3  2017-01-03 01:00:00  98.486806  schwartau
4  2017-01-03 13:00:00  98.320139  schwartau

In [ ]:
file_path = 'data/humidity_wurzburg.csv'


wurzburg_humidity_df = pd.read_csv(file_path)
wurzburg_humidity_df['hive'] = 'wurzburg'
wurzburg_humidity_df.head()

In [ ]:
frames = [wurzburg_humidity_df, schwartau_humidity_df]

combo_humidity_df = pd.concat(frames)
combo_humidity_df.count()

In [ ]:
file_path = 'data/temperature_schwartau.csv'


schwartau_temperature_df = pd.read_csv(file_path)
schwartau_temperature_df['hive'] = 'schwartau'
schwartau_temperature_df.head()

In [ ]:
file_path = 'data/temperature_wurzburg.csv'


wurzburg_temperature_df = pd.read_csv(file_path)
wurzburg_temperature_df['hive'] = 'schwartau'
wurzburg_temperature_df.head()

In [ ]:
frames = [wurzburg_temperature_df, schwartau_temperature_df]

combo_temperature_df = pd.concat(frames)
combo_temperature_df['date'] = [d.date() for d in combo_temperature_df['timestamp']]
combo_temperature_df['time'] = [d.time() for d in combo_temperature_df['timestamp']]

combo_temperature_df.count()

In [ ]:
file_path = 'data/weight_schwartau.csv'


schwartau_weight_df = pd.read_csv(file_path)
schwartau_weight_df['hive'] = 'schwartau'
schwartau_weight_df.head()

In [ ]:
file_path = 'data/weight_wurzburg.csv'


wurzburg_weight_df = pd.read_csv(file_path)
wurzburg_weight_df['hive'] = 'wurzburg'
wurzburg_weight_df.head()

In [ ]:
frames = [wurzburg_weight_df, schwartau_weight_df]

combo_weight_df = pd.concat(frames)
combo_weight_df.count()

In [ ]:
df_join_part1 = combo_flow_df.set_index('timestamp').join(combo_humidity_df.set_index('timestamp'),rsuffix="_humidity")
df_join_part1.head(100)